body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    border:0.5px solid black;
   
    padding: 20px;
    background-image: url(bg.jpg);
    border-radius: 5px;
    box-shadow:0px 0px 8px rgb(0, 0, 0);
    background-position: center;
    background-size:cover;
    
    
}
@keyframes sample{
    0%{border:12px solid green;}
    25%{border:12px solid rgb(0, 234, 255);}
    50%{border:12px solid rgb(201, 19, 214);}
    75%{border:12px solid rgb(252, 13, 53);}
    100%{border:12px solid rgb(156, 219, 7); background-color: #c1d6da;}
}

.mk1{
    text-align: center;
    color:black;
    -webkit-text-stroke: 0.2px yellow;
    font-weight: 900;
    
    font-style:italic;
    
}
input[type="text"] {
    width: 70%;
    font-style: oblique;
     color:rgb(1, 23, 23);
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
button {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}
#todo-list {
    list-style-type: none;
    padding: 0;
}
#todo-list li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #dde6e8;
    border-radius: 5px;
    margin-bottom:22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:0px 0px 6px rgb(1, 16, 16);
}
#todo-list li:hover{
    background-color:#cdd0d1;
    transform: scale(1.01);
}
.delete-btn{
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    
    cursor: pointer;
}
.delete-btn:hover {
    background-color: #d32f2f;
}